packages/
ToDoListApp/bin/
ToDoListApp/obj/Debug/net6.0/staticwebassets/msbuild.build.ToDoListApp.props
ToDoListApp/obj/
ToDoListUI/bin/
.vs/ToDoList/FileContentIndex/8c39edfd-36f5-428e-a432-ad25a0bd9876.vsidx
.vs/ToDoList/FileContentIndex/a72443a8-027c-4233-9f68-45affd4835ff.vsidx
.vs/ToDoList/FileContentIndex/f5536fbd-4ee7-47f6-bd8d-52a3a0f77e17.vsidx
